/* body{
  background-color: rgb(9, 158, 88);
} */
.header{
  background-color: black;
  padding:65px;
  margin:-10px;
}
.logo{
  float: left;
  margin: -50px;
}
.header h1{
  color: aliceblue;
  float: left;
  padding-left:80px;
  margin:-15px;
  
}
.header h2{
  color: aliceblue;
  float: right;
  padding-right: 844px;
  margin:-10px;
}
.search{
  float:left;
  margin-left:900px;
  margin-top: -13px;
}

ul li{
  
  float: right;
  font-size: 17px;
  padding: 10px;
  list-style: none;
  margin-top: -32px;
}
a{
  text-decoration: none;
  color: rgb(240, 248, 255);

}
.content .left-side{
  background-color: rgb(196, 196, 196);
    padding: 80px;
    padding-bottom:140px;
    float: left;
    width: 12%;
    height:auto;
    margin-top: 11px;
    margin-left: -6px;
}
.content .left-side .car1{
  float:left;
   margin:-75px;
   padding-bottom: 30px;
}
p{
  color: rgb(0, 0, 0);
  float: left;
  padding-bottom: 30px;
  
}
.content .right-side{
  background-color: rgb(196, 196, 196);
    float:right;
    width: 78%;
    margin-top:10px;
    padding-left:42px;
    margin-right:-15px;
    padding-bottom:140px;
    height:auto;
    
  
}
.content .right-side h1{
  text-align: center;
  color: #000;
}
content .right-side .pic1{
  float: left;
}


.footer{
  background-color: rgb(78, 78, 78);
  padding:50px;
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top:600px;
  color: #fcfcfc;
  text-align: center;
}
.logo2{
  float: left;
  margin: -35px;
}

